.pti_action_botton {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 1.2rem;
}

.pti_navegacao {
    text-align: right;
}

.pti_action_botton_enable {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 1.2rem;
    background-color: #888;
    border-color: #888;
    color: #fff;
}

.pti_action_botton_disabled {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 1.2rem;
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
}

.pti_action_botton_disable:hover,
.pti_action_botton_disable:focus,
.pti_action_botton_disable:active,
.pti_action_botton_disable.active {
    background-color: #ddd;
    border-color: #ddd;
    color: #FFFFFF;
}

.pti_titulo_programa {
    font-size: 1.3rem;
    font-weight: 600;
}

@media print {
    @page {
        size: A4;
        margin: 15mm 12mm 15mm 12mm;
    }
    html,
    body {
        font-size: 18px;
        background: #FFF;
        overflow: visible;
    }
    div.divFooter {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}

.wrapper-content {
    padding: 0;
}

.pti_fixed-content {
    min-height: 100%;
    /* position: fixed; */
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2% 5%;
}

.ibox-title h5 {
    font-size: 1.6rem;
}

@media screen {
    div.divFooter {
        text-align: center;
        display: none;
    }
    .pti_assinatura {
        display: none;
    }
    .pti_table_header {
        display: none;
    }
    .breadcrumb {
        display: none;
    }
    /* .pti_table_header {
        display: none;
    } */
}